test_results filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
layers filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
data_provider filter=lfs diff=lfs merge=lfs -text
exp filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
logs filter=lfs diff=lfs merge=lfs -text
pic filter=lfs diff=lfs merge=lfs -text
run.py filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
tutorial filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
